footer {
    margin: 0;
    background-color: rgba(0, 0 , 0, 1);
    z-index: 10;
    .container {
      display: flex;
      justify-content: space-between;
      padding-top: 50px;
      padding-bottom: 30px;
      overflow: hidden;
      @media only screen and (max-width: 1140px) {
        display: grid;
        width: 100% !important;
      }
      .left {
        width: 20%;
        
        @media only screen and (max-width: 1140px) {
          width: 100% !important;
          margin-left: 20px;
        }
        color: #ffffff;
        h3{
            font-size: 20px;
        }
        hr{
            border: 3px solid #D1B280;
            background-color: #D1B280;
            width: 33%;
            float: left;
        }
        p{
            line-height: 200%;
            
        }
      }
  
      .c_left {
        color: #ffffff;
        width: 25%;
        list-style: none;
        justify-content: space-evenly;
        align-items: center;
        @media only screen and (max-width: 1140px) {
          display: none;
        }
        h3{
            font-size: 20px;
        }
        hr{
            border: 3px solid #D1B280;
            background-color: #D1B280;
            width: 65%;
            float: left;
        }
        p{
            line-height: 200%;
        }
  
        .link {
          font-family: "Yu Gothic, sans-serif";
          color: #ffffff;
          font-weight: 600;
          font-size: 0.9rem;
          padding: 20px 25px;
          cursor: pointer;
          &:hover{
              background-color: #D1B280;
          }
          
  
          a{
            text-decoration: none;
            color: #ffffff;
          }
        }
  
        .active{
            background-color: #D1B280;
          a{
            color: #ffffff;
            
          }
        }
      }
      .c_right{
        width: 20%;
        color: #ffffff;
        @media only screen and (max-width: 1140px) {
          width: 100% !important;
          margin-left: 20px;
        }
        h3{
            font-size: 20px;
        }
        hr{
            border: 3px solid #D1B280;
            background-color: #D1B280;
            width: 55%;
            float: left;
        }
        p{
            line-height: 200%;
        }
        .btn_ft{
          padding: 7px 35px;
          background-color: rgba(0, 0 , 0, 1);
          color: #ffffff;
          cursor: pointer;
          margin-bottom: 20px;
          margin-top: 20px;
          border: 3px solid #ffffff;
          border-radius: 2px;
        }
      }
      .right{
        width: 25%;
        @media only screen and (max-width: 1140px) {
          width: 100% !important;
        }
      }
    }
    .copyright{
      span{
        padding-right: 5px;
      }
      padding: 15px 0;
      color: #ffffff;
      text-align: center;
      background-color: #333232;
      width: 100%;
      overflow: hidden;
      line-height: 200%;
      letter-spacing: 1px;
    }
  }