.Banner {
  background-image: url("../img/IMG9.jpeg");
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  @media only screen and (max-width: 767px) {
    height: 80vh;
    text-align: center;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7));
    opacity: 0.6;
  }

  &__title {
    font-size: 3.2rem;
    color: #fff;
    font-weight: bold;
    width: 100%;
    position: absolute !important;
    top: 50%;
    -ms-transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    margin: 0;
    padding: 0;
    display: block;
  }
}

.section_1 {
  background-color: #594d46;
  .container {
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 1140px;
    max-width: 80%;
    @media only screen and (max-width: 1140px) {
      display: grid;
      max-width: 85%;
      padding: 80px 0;
    }
    &__column--1 {
      width: 50%;
      @media only screen and (max-width: 1140px) {
        width: 100% !important;
      }
      p {
        font-size: 16px;
        color: #ffffff;
      }
      h3 {
        font-size: 40px;
        font-weight: 900;
        color: #ffffff;
      }
      hr {
        border: 3px solid #d1b280;
        background-color: #d1b280;
        width: 50%;
        float: left;
      }
    }

    &__column--2 {
      width: 50%;
      margin-left: 3%;
      @media only screen and (max-width: 1140px) {
        width: 100% !important;
        margin-left: unset;
      }
      p {
        color: #ffffff;
        line-height: 200%;
      }
    }
  }
}

.section_2 {
  background: url("../img/na_blackbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  .container {
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: space-between;
    width: 1140px;
    max-width: 80%;
    @media only screen and (max-width: 1140px) {
      display: grid;
      max-width: 90%;
      padding-top: 5%;
      padding-bottom: 5%;
    }
    img {
      width: 95% !important;
      margin: 5px;
      @media only screen and (max-width: 1140px) {
        margin: 10px 0;
        width: 100% !important;
      }
    }
  }
}

.section_3 {
  background-color: #594d46;
  .container-3 {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: space-between;
    width: 100vw;
    max-width: 100%;
    @media only screen and (max-width: 1140px) {
      display: grid;
    }
    .first {
      width: 50%;
      margin-top: 80px;
      background-color: #000000;
      color: #ffffff;
      padding: 40px;
      @media only screen and (max-width: 1140px) {
        width: 100% !important;
        padding: 20px 15px;
      }
      h3 {
        margin-top: 10px;
        font-size: 30px;
        text-transform: uppercase;
      }
      hr {
        border: 3px solid #d1b280;
        background-color: #d1b280;
        width: 50%;
        float: left;
      }
      p {
        padding-bottom: 40px;
        line-height: 200%;
      }
      .btn_3 {
        background-color: #000000;
        padding: 10px 40px;
        border: 3px solid #ffffff;
        border-radius: 2px;
        margin-bottom: 15px;
        a {
          text-decoration: none;
          color: #ffffff;
        }
      }
    }
    .second {
      width: 50%;
      margin-bottom: 80px;
      background-color: #d1b280;
      color: #ffffff;
      padding: 40px;
      @media only screen and (max-width: 1140px) {
        width: 100% !important;
        padding: 20px 15px;
      }
      hr {
        border: 3px solid #ffffff;
        background-color: #ffffff;
        width: 50%;
        float: left;
      }
      h3 {
        margin-top: 10px;
        font-size: 30px;
        text-transform: uppercase;
      }
      p {
        padding-bottom: 20px;
        line-height: 200%;
      }
    }
  }
}

.section_4 {
  background-color: #594d46;
  .container {
    text-align: center;
    align-items: center;
    padding-top: 30px;
    .sect4__title {
      color: #ffffff;
      text-align: center;
      padding-bottom: 30px;
      h3 {
        font-size: 30px;
        text-transform: uppercase;
      }
      hr {
        border: 3px solid #d1b280;
        background-color: #d1b280;
        width: 30%;
      }
    }
    .blog_container {
      display: flex !important;
      justify-content: space-between;
      margin: 0 auto;
      width: 1140px;
      max-width: 85%;
      padding-bottom: 50px;
      &__left {
        width: 49%;
        // background: url('../img/IMG9.jpeg');
        object-fit: contain;
        height: 80vh;
      }
      &__right {
        width: 49%;
        a {
          text-decoration: none;
          color: #000000;
        }
        .blog_wrapper {
          display: flex !important;
          background-color: #ffffff;
          width: 100% !important;
          margin-bottom: 20px;
          height: 25vh;

          &__img {
            width: 50% !important;
            img {
              object-fit: cover;
              height: 100% !important;
            }
          }
          &__text {
            width: 50% !important;
            padding: 35px;
            text-align: left;
            span {
              background-color: #d1b280;
              color: #ffffff;
              padding: 3px;
              font-size: 14px;
            }
            h3 {
              font-size: 16px;
              line-height: 200%;
              padding: 3px 0;
            }
            p {
              i {
                padding-right: 5px;
              }
            }
          }
        }
      }
    }
    .btn_4 {
      padding: 20px 40px;
      background-color: #d1b280;
      border: 1px solid #d1b280;
      border-radius: 2px;
      color: #ffffff;
      cursor: pointer;
      margin-bottom: 10px;

      &:hover {
        background-color: #ffffff;
        border: 1px solid #ffffff;
        border-radius: 2px;
        color: #000000;
        cursor: pointer;
      }
    }
  }
}

.section_5 {
  background-color: #594d46;
  .container-5 {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: space-between;
    width: 100vw;
    max-width: 100%;
    @media only screen and (max-width: 1140px) {
      display: grid;
      justify-content: unset;
    }
    .first {
      width: 50%;
      margin-bottom: 80px;
      background-color: #000000;
      color: #ffffff;
      padding: 40px;
      @media only screen and (max-width: 1140px) {
        width: 100% !important;
        padding: 20px 15px;
        margin-bottom: unset;
      }
      h3 {
        margin-top: 10px;
        font-size: 30px;
        text-transform: uppercase;
      }
      hr {
        border: 3px solid #d1b280;
        background-color: #d1b280;
        width: 65%;
        float: left;
      }
      p {
        padding-bottom: 40px;
        line-height: 200%;
      }
      .btn_3 {
        background-color: #000000;
        padding: 10px 40px;
        border: 3px solid #ffffff;
        border-radius: 2px;
        margin-bottom: 15px;
        a {
          text-decoration: none;
          color: #ffffff;
        }
      }
    }
    .second {
      width: 50%;
      margin-top: 80px;
      background-color: #d1b280;
      color: #ffffff;
      padding: 40px;
      @media only screen and (max-width: 1140px) {
        width: 100% !important;
        padding: 20px 15px;
        margin-top: unset;
      }
      hr {
        border: 3px solid #ffffff;
        background-color: #ffffff;
        width: 20%;
        float: left;
      }
      h3 {
        margin-top: 10px;
        font-size: 30px;
        text-transform: uppercase;
      }
      p {
        padding-bottom: 20px;
        line-height: 200%;
      }
      .btn_3 {
        background-color: #d1b280;
        padding: 10px 40px;
        border: 3px solid #ffffff;
        border-radius: 2px;
        a {
          text-decoration: none;
          color: #ffffff;
        }
      }
    }
  }
}

.section_6 {
  background-color: #594d46;
  .container {
    text-align: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 50px;
    .sect6__title {
      color: #ffffff;
      text-align: center;
      padding-bottom: 30px;
      h3 {
        font-size: 30px;
        text-transform: uppercase;
      }
      hr {
        border: 3px solid #d1b280;
        background-color: #d1b280;
        width: 15%;
      }
    }
    .news {
      &_container {
        width: 100%;
        max-width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        margin: 20px auto;
        padding: 10px;
        .n-date {
          width: 15%;
          i {
            padding-right: 5px;
          }
        }
        .n-title {
          width: 70%;
        }
        .n-btn {
          background-color: #d1b280;
          color: #ffffff;
          border: #d1b280;
          padding: 5px 10px;
        }
      }
    }
  }
}
