.Page_Banner {
  background-color: #594d46;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .Page_Banner {
    height: 80vh;
  }
}

.Page_Banner::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.7));
  opacity: .6;
}

.Page_Banner__title {
  font-size: 3.2rem;
  color: #fff;
  font-weight: bold;
  width: 100%;
  position: absolute !important;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  margin: 0;
  padding: 0;
  display: block;
}

.Page_Banner__subtitle {
  font-size: 1.6rem;
  color: #fff;
  font-weight: bold;
  width: 100%;
  position: absolute !important;
  top: 55%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  margin: 0;
  padding: 0;
  display: block;
}

.Service_section_1 {
  background-color: #594D46;
}

.Service_section_1 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 1140px;
  max-width: 80%;
}

@media only screen and (max-width: 1140px) {
  .Service_section_1 .container {
    display: -ms-grid;
    display: grid;
    max-width: 85%;
    padding: 80px 0;
  }
}

.Service_section_1 .container__column--1 {
  width: 50%;
}

@media only screen and (max-width: 1140px) {
  .Service_section_1 .container__column--1 {
    width: 100% !important;
  }
}

.Service_section_1 .container__column--1 p {
  font-size: 16px;
  color: #FFFFFF;
}

.Service_section_1 .container__column--1 h3 {
  font-size: 30px;
  font-weight: 900;
  color: #FFFFFF;
}

.Service_section_1 .container__column--1 hr {
  border: 3px solid #dd9933;
  background-color: #dd9933;
  width: 30%;
  float: left;
}

.Service_section_1 .container__column--2 {
  width: 50%;
  margin-left: 3%;
}

@media only screen and (max-width: 1140px) {
  .Service_section_1 .container__column--2 {
    width: 100% !important;
    margin-left: unset;
  }
}

.Service_section_1 .container__column--2 p {
  font-size: 20px;
  color: #FFFFFF;
  line-height: 200%;
}

.Service_section_2 {
  background: url("../img/service_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.Service_section_2 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1140px;
  max-width: 90%;
}

@media only screen and (max-width: 1140px) {
  .Service_section_2 .container {
    max-width: 95%;
    display: -ms-grid;
    display: grid;
  }
}

.Service_section_2 .container__column--1 {
  width: 45% !important;
}

@media only screen and (max-width: 1140px) {
  .Service_section_2 .container__column--1 {
    width: 100% !important;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.Service_section_2 .container__column--1 .accordion {
  background-color: rgba(0, 0, 0, 0);
  color: #000000;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 24px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 0.1px solid rgba(0, 0, 0, 0.5);
}

.Service_section_2 .container__column--1 .accordion i {
  margin-right: 10px;
}

@media only screen and (max-width: 1140px) {
  .Service_section_2 .container__column--1 .accordion {
    padding: 15px;
    font-size: 22px;
  }
}

@media only screen and (max-width: 769px) {
  .Service_section_2 .container__column--1 .accordion {
    padding: 10px;
    font-size: 18px;
  }
}

.Service_section_2 .container__column--1 .panel {
  padding: 0 20px;
  background-color: #594D46;
  color: #FFFFFF;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.Service_section_2 .container__column--1 .panel ul {
  padding-bottom: 50px;
}

.Service_section_2 .container__column--1 .panel ul li .info {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
}

.Service_section_2 .container__column--1 .panel .subinfo {
  margin-left: 10px;
  font-weight: 500;
  line-height: 200%;
}

.Service_section_2 .container__column--1 .panel .subinfo .dot {
  padding-right: 10px;
}

.Service_section_2 .container__column--2 {
  width: 55% !important;
}

@media only screen and (max-width: 1140px) {
  .Service_section_2 .container__column--2 {
    width: 100% !important;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.blackspace_1 {
  width: 100%;
  height: 50px;
  background-color: #594D46;
}

.Service_section_3 {
  background: url("../img/service_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.Service_section_3 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1140px;
  max-width: 90%;
}

@media only screen and (max-width: 1140px) {
  .Service_section_3 .container {
    max-width: 95%;
    display: -ms-grid;
    display: grid;
  }
}

.Service_section_3 .container__column--1 {
  width: 45% !important;
}

@media only screen and (max-width: 1140px) {
  .Service_section_3 .container__column--1 {
    width: 100% !important;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.Service_section_3 .container__column--1 .accordion {
  background-color: rgba(0, 0, 0, 0);
  color: #000000;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 24px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 0.1px solid rgba(0, 0, 0, 0.5);
}

.Service_section_3 .container__column--1 .accordion i {
  margin-right: 10px;
}

@media only screen and (max-width: 1140px) {
  .Service_section_3 .container__column--1 .accordion {
    padding: 15px;
    font-size: 22px;
  }
}

@media only screen and (max-width: 769px) {
  .Service_section_3 .container__column--1 .accordion {
    padding: 10px;
    font-size: 18px;
  }
}

.Service_section_3 .container__column--1 .panel {
  padding: 0 20px;
  background-color: #594D46;
  color: #FFFFFF;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.Service_section_3 .container__column--1 .panel ul {
  padding-bottom: 50px;
}

.Service_section_3 .container__column--1 .panel ul li .info {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
}

.Service_section_3 .container__column--1 .panel .subinfo {
  margin-left: 10px;
  font-weight: 500;
  line-height: 200%;
}

.Service_section_3 .container__column--1 .panel .subinfo .dot {
  padding-right: 10px;
}

.Service_section_3 .container__column--2 {
  width: 55% !important;
  padding-bottom: 50px;
}

@media only screen and (max-width: 1140px) {
  .Service_section_3 .container__column--2 {
    width: 100% !important;
    padding-bottom: unset;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.Service_section_4 {
  background: url("../img/service_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.Service_section_4 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1140px;
  max-width: 90%;
}

@media only screen and (max-width: 1140px) {
  .Service_section_4 .container {
    display: -ms-grid;
    display: grid;
    max-width: 95%;
  }
}

.Service_section_4 .container__column--1 {
  width: 45% !important;
}

@media only screen and (max-width: 1140px) {
  .Service_section_4 .container__column--1 {
    width: 100% !important;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.Service_section_4 .container__column--1 .accordion {
  background-color: rgba(0, 0, 0, 0);
  color: #000000;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 24px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 0.1px solid rgba(0, 0, 0, 0.5);
}

.Service_section_4 .container__column--1 .accordion i {
  margin-right: 10px;
}

@media only screen and (max-width: 1140px) {
  .Service_section_4 .container__column--1 .accordion {
    padding: 15px;
    font-size: 22px;
  }
}

@media only screen and (max-width: 769px) {
  .Service_section_4 .container__column--1 .accordion {
    padding: 10px;
    font-size: 18px;
  }
}

.Service_section_4 .container__column--1 .panel {
  padding: 0 20px;
  background-color: #594D46;
  color: #FFFFFF;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.Service_section_4 .container__column--1 .panel ul {
  padding-bottom: 30px;
}

.Service_section_4 .container__column--1 .panel ul li .info {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
}

.Service_section_4 .container__column--1 .panel .subinfo {
  margin-left: 10px;
  line-height: 200%;
  font-weight: 500;
}

.Service_section_4 .container__column--1 .panel .subinfo .dot {
  padding-right: 10px;
}

.Service_section_4 .container__column--2 {
  width: 55% !important;
  padding-bottom: 35px;
}

@media only screen and (max-width: 1140px) {
  .Service_section_4 .container__column--2 {
    width: 100% !important;
    padding-bottom: unset;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.blackspace_2 {
  width: 100%;
  height: 100px;
  background-color: #594D46;
  overflow: hidden;
}
/*# sourceMappingURL=service.css.map */